<nav class="navbar sticky-top navbar-dark bg-primary navbar-expand-md mb-2">
  <a class="navbar-brand" routerLink="/feature">MySensor</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapsed">
    <ul class="navbar-nav mr-auto"></ul>
    <form>
      <div class="form-col">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
      </div>
    </form>
    <ul class="navbar-nav float-right">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div>
    Hello World!
  </div>
</div>
