/* You can add global styles to this file, and also import other style files */

@import 'sass/main.scss';

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  @if $raw-query {
    $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
    );

    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
         + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// TODO USE BETTER SOLUTION TO FIX MODAL PADDING ON BODY ELEMENT!! https://stackoverflow.com/questions/32862394/bootstrap-modals-keep-adding-padding-right-to-body-after-closed
body { padding-right: 0 !important }

.modal-open {
  overflow: auto;
}
